<% layout('layouts/boilerplate') %>


    <div class="col-8">
        <h1 class="text-center">Edit this News</h1>
        <div class="col-6 offset-3">
            <form action="/news/<%=aNews._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="aNews[title]" value="<%=aNews.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="aNews">Description</label>
                    <textarea class="form-control" type="text" id="aNews" name="aNews[description]" required><%=aNews.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="url" id="pdfUrl" name="aNews[pdfUrl]" value="<%= aNews.pdfUrl %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Save</button>
                </div>
            </form>
            <a href="/news/<%= aNews._id%>">Go Back</a>
        </div>
    </div>