<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Edit this Course</h1>
        <div class="col-6 offset-3">
            <form action="/admin/courses/<%=course._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="course[name]" value="<%=course.name %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="code">Course Code</label>
                    <input class="form-control" type="text" id="code" name="course[code]" value="<%=course.code %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="centreCode">Centre Code</label>
                    <input class="form-control" type="text" id="centreCode" name="course[centreCode]" value="<%=course.centreCode %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="duration">Duration</label>
                    <input class="form-control" type="number" id="duration" min="1" name="course[duration]" value="<%=course.duration %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="course">Description (optional)</label>
                    <textarea class="form-control" type="text" id="course" name="course[description]"><%=course.description%></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="text" id="pdfUrl" name="course[pdfUrl]" value="<%= course.pdfUrl %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3 d-inline">
                    <button class="btn btn-info">Save</button>
                </div>
                <div class="mb-3 d-inline">
                    <a class="btn btn-primary" href="/admin/courses/<%= course._id%>">Go Back</a>
                </div>
            </form>
        </div>
    </div>