<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
            <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title"><%= course.name %></h2>
                <p class="card-text"><b>Course Code : </b><%= course.courseCode %></p>
                <p class="card-text"><b>Centre Code : </b><%= course.centreCode %></p>
                <p class="card-text"><b>Duration : </b><%= course.duration %></p>
                <p class="card-text"><b>pdf Url : </b><%= course.pdfUrl %></p>
                <p class="card-text"><b>Description : </b><%= course.description %></p>
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/admin/courses/<%=course._id%>/edit">Edit</a>             
                    <form class="d-inline" action="/admin/courses/<%=course._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer" style="color: rgba(12, 12, 12, 0.75)!important;">
                    <b> Last Updated : </b><%= course.updatedAt %>
                </div>
            </div>
    </div>
