<%- include('partials/header') %> <!--including the common head-->

<div class="centerbody ">
<div class="centrebodydiv">


  <div class="mainhead">
   <h2 class="title"><%= page.name %></h2>
<div class="button">
  <ul class="button-area">
     
    <li class="button-text"><a href="#about" class="button-text">About</a></li>

    <li class="button-text"><a href="#notice" class="button-text">Notice</a></li>
              
  <li class="button-text"><a href="#syllabus" class="button-text">Syllabus</a></li>
              
  <!-- <li class="button-text"><a href="#time-table" class="button-text">Time Table</a></li> -->
              
  <li class="button-text"><a href="#faculty" class="button-text">Faculty</a></li>


  </ul>
</div>
</div>
  <section id="about" class="auto-height about-section white-background bordered no-height">
      <div class="about-container">
          <h3>About</h3>
          <p><%- page.shortDescription %></p>
          <button id="myBtn" class="text-btn">Read more></button>
      </div>
  </section>
      <div id="myModal" class="modal">
          <div class="modal-content ">
              <span class="close">&times;</span>
                  <h3>About</h3>
                  <div><%- page.about %></div>   
          </div>
      </div>
      
      <section id="notice" class="auto-height  about-section white-background bordered">
         
          <div class="about-container">
              <h3>Notice</h3> 

          
          <div class="notice-section">
              <ul class="notice-ul">
                <% for(c of page.notifications) {%>
                  <% if(n_limit > 0) { %>
                    <li class="li-notice primary dialogTrigger" onclick="dialogFiller(`<%= JSON.stringify(c) %>`)">
                      <%= c.title  %>
                    </li>
                    <% n_limit = n_limit - 1} %>
                <% } %>
              </ul>  
           </div>
           <br><br><br><br>
           <a href="/home/loadmore/<%= page.centreCode %>" class="text-btn" target="_blank" rel="noopener noreferrer">Load more ></a>
         </div>
          
<!--------------------------------- reusable  Dialog starts --------------------------------------------->
          <dialog id="reusableDialog">
            <form method="dialog">
              <button type="submit" onclick="window.reusableDialog.close();" aria-label="close" class="btn cross">❌</button>
              <br/>
              <br/>
              <div id="reusableDialogContent"></div>
              <div id="dialogActions">
                <button type="submit" class="btn primary" onclick="window.reusableDialog.close();">Close</button>
              </div>
            </form>
          </dialog>
 <!--------------------------------- reusable  Dialog ends --------------------------------------------->    
      </section>

  <section id="syllabus" class="auto-height  about-section white-background bordered">
      <div class="about-container">
          <h3>Syllabus</h3>
          <% for(course of courses) {%>
          <div class="subject-container flex-horizontal space-between">
              <p><%= course.name %></p>
              <button class="btn btn-primary"><a href="/uploads/documents/<%= course.pdfUrl %>" download="<%= course.courseCode %>" >Download</a></button>
          </div>
          <% } %>
          </div>
      </div>
  </section>

  <!-- <section id="time-table" class="about-section white-background bordered ">
      <div class="about-container">
          <h3>Time Table</h3>
          <div class="spacer"></div>
          <h4>Time table for UG and PG courses</h4>
          <div class="subject-container flex-horizontal space-between">
              <p>B.Sc - I (2021-2022) & B.Sc - III (2022-2023)</p>
              <button class="btn btn-primary"><a href="#">View</a></button>
          </div>
          <div class="subject-container flex-horizontal space-between">
              <p>M.Sc - II (2021-2022)</p>
              <button class="btn btn-primary"><a href="#">View</a></button>
          </div>
          <div class="spacer"></div>
      </div>
  </section> -->

  <section id="faculty" class="about-section white-background space-between bordered">
      <div class="about-container">
          <h3>Faculty</h3>
          <div class="spacer"></div>
          <div class="center-container">
          <div class="profile-container white-background">
            <% for(faculty of page.faculties) {%>
              <% if(f_limit > 0) { %>
              <div class="card">
                  <img src="/uploads/images/<%= faculty.photo %>" alt="image" style="width:100%">
                  <div class="profile-detail">
  
                      <h4><%= faculty.name  %></h4>
                      <p class="subTitle">Designation</p>
                      <p><%= faculty.designation  %></p>
                      <p class="subTitle">Education</p>
                      <p><%= faculty.education  %></p>
                      <p class="subTitle">Email Id</p>
                      <p ><%= faculty.emailId  %></p>
                      <% if(faculty.researchPaperCount) {%>
                      <p class="subTitle">Total no. of research papers</p>
                      <p ><%= faculty.researchPaperCount  %></p>
                      <% } %>
                  </div>
                </div>
                <% f_limit = f_limit - 1} %>
              <% } %>
                <!-- <div class="card center-text"> -->
                      <a  class="text-btn" href="/home/loadmore/faculty-<%= page.centreCode %>" target="_blank" rel="noopener noreferrer">View More ></a>
                <!-- </div> -->
          </div>
          </div>
      </div>
  </section>
 
</div>

</div>



    <%- include('partials/footer') %> 
  </body>
</html>