    <%- include('partials/header') %> <!--including the common head-->

    <%- include('partials/hero') %> <!--including the hero section-->

    <%- include('partials/news') %> <!--including the news section-->

    <%- include('partials/message') %> <!--including the message section-->
            
    <%- include('partials/centres') %>

    <%- include('partials/counter') %>

    <%- include('partials/footer') %>

    </body>
</html>