<%- include('partials/header') %>



  <!------------------------------- hero section ---------------------------------->


  <h1 class="nameips">Institute of <span class="pro">Professional Studies</span></h1>

  <section class="hero">
    <div class="hero-left">
      <h1 class="Institute">
        Institute of <br />
        <span class="pro">Professional Studies</span>
      </h1>
      <p class="trust">
        At our professional institute, we strive to cultivate a culture of excellence and integrity by nurturing a learning community committed to producing ethical leaders and empowering all learners. We believe in building respectful and responsible citizens who are equipped with the skills and knowledge necessary to make a positive impact in their respective fields. Join us in our mission to achieve excellence through education and personal growth
       
      </p>
    </div>

    <div class="hero-right">
      <div class="slideshowContainer">

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <div class="imageBackground">
            <% for(let image of sliderImages) { %>
              <div class="mySlides fade-in-image"><img src="/assets/<%= image %>" alt="image"></div>
            <% } %>
          </div>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </div>
  </section>


  <!---------------------------- news section ------------------------------------->

  <section>
    <div class="happiness">

      <div class="newsTitle">
        <h1 class="happyHead">News</h1>
        <ul>
          <% for(let c of news) { %>
            <li class="primary dialogTrigger" onclick="dialogFiller(`<%= JSON.stringify(c) %>`)">
              <%= c.title %>
            </li>
            <% } %>
        </ul>
      </div>
      <div class="newsTitle">
        <h1 class="happyHead">Events</h1>
        <ul>
          <% for(let c of events) { %>
            <li class="primary dialogTrigger" onclick="dialogFiller(`<%= JSON.stringify(c) %>`)">
              <%= c.title %>
            </li>
            <% } %>
        </ul>
      </div>
      <div class="newsTitle">
        <h1 class="happyHead">Announcements</h1>
        <ul>
          <% for(let c of announcements) { %>
            <li class="primary dialogTrigger" onclick="dialogFiller(`<%= JSON.stringify(c) %>`)">
              <%= c.title %>
            </li>
            <% } %>
        </ul>
      </div>

      <!--------------------------------- reusable  Dialog  --------------------------------------------->
      <dialog id="reusableDialog">
        <form method="dialog">
          <button type="submit" onclick="window.reusableDialog.close();" aria-label="close" class="btn cross">❌</button>
          <br/>
          <br/>
          <div id="reusableDialogContent">
          </div>
          <div id="dialogActions">
            <button type="submit" class="btn primary" onclick="window.reusableDialog.close();">Close</button>
          </div>
        </form>
      </dialog>
    </div>
  </section>



  <!-------------------------- message section ------------------------------------>




  <% for(let message of messageSection) { %>
    <section class="webdesign-wrapper">
      <h2>Message From The Vice-Chancellor
      </h2>
      <div class="webdesign">
        <div class="webdesign-left">
          <h4 style="text-align: center;">
            Vice-Chancellor <br>
            Prof. Sangita Srivastava
          </h4>
          <p class="messagefromvc">"My first and warm greetings to the entire fraternity of the University of Allahabad. As I assume the
            responsibilities of the Vice Chancellor of this great institution, pride and hope fill my heart. As the
            fourth oldest university of the country, established in the year 1887, the University of Allahabad has
            continued to fulfill its responsibility of enriching the country with thinkers, scientists, entrepreneurs,
            administrators, writers, artists and politicians. I feel privileged and honored to serve this University as
            the first woman Vice Chancellor. <br><br>

            I join this prestigious office with the commitment to not only keep up the past glories but also to steer
            the institution on the path to new directions in keeping with the demands of the new times. The last few
            years have changed the nature of demands from an education of higher learning with unprecedented
            developments in sciences and opening up of the boundaries of the subjects into interdisciplinary nature. The
            New Education Policy 2020 reflects the shift in vision regarding education from the creation of a resource
            pool to a path of holistic development of the person. <br><br>

            Let us aspire to build the institution back into a centre for excellence not just in the official sense but
            also in the perception of the people. Interdisciplinary nature of research. I assure you of my complete
            support for any proposal and effort towards our University growing into a vibrant space for learning, growth
            and grooming the future builders of the nation. <br><br>

            The University will only succeed in its vision in the years to come if the students can achieve their
            potential not just in terms of academic excellence but also in co-curricular areas of sports, culture and
            art. We strive to provide an environment for their all-round development.Their success reflects upon the
            perception of the people regarding the institution.<br><br>

            We have some of the best minds in academics as the faculty of the University who have brought credibility to
            the University in research. We have tried to provide them support of infrastructure and we will step up the
            effort to meet the shortfalls so that their work is as unhindered and hassel-free as possible. Our focus has
            to be on broadening the base of the nature of research and making it interdisciplinary and socially useful.
            <br><br>
            I acknowledge the contribution of all the alumni who have made an indelible mark wherever they reached and
            proved the logo of the University "Quot Rami Tot Arbores". We urge our alumni for their active coordination,
            cooperation, guidance and constructive suggestion for the betterment of their alma mater.
            <br><br>
            If the university is to succeed in broadening its horizons of success, it needs the contribution and support
            of all the stakeholders including the students, the teachers, the staff, the guardians and the people. I
            urge all of you to come together to create an environment where this aspiration is fulfilled."</p>
        </div>
        <div class="webdesign-right">
          <div class="webdesign-img">
            <img src="/assets/<%= message.image %>" alt="image" />
          </div>
        </div>
      </div>
    </section>
    <% } %>


      <!------------------------------ centres section -------------------------------->

      <section class="centres">
        <div class="ag-format-container">
          <div class="ag-courses_box">
            <% for(let centre of centresList) { %>
              <div class="ag-courses_item">
                <a href="<%= centre.Centrepath %>" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>

                  <div class="ag-courses-item_title">
                    Centre of <%= centre.name %>
                  </div>
                  <div class="ag-courses-item_date-box">
                    <img src="/assets/<%= centre.icon %>" height="80px" width="80px" />
                  </div>
                </a>
              </div>
              <% } %>
          </div>
        </div>
      </section>



      <!--------------------------- counter section ----------------------------------->
      <div class="count">
        <% counterList.forEach( (counter, i) => { %>
          <div class="counter-container">
            <img src="/assets/<%= counter.image %>" height="200px" width="200px">
            <i class="counter-student"></i>
            <% if(i === 1){ %>
            <div class="counter" data-target="<%= count[i-1].fCount %>" ></div>
            <% }else { %>
            <div class="counter" data-target="<%= counter.count %>"></div>

              <%  } %>
            <span>
              <%= counter.name %>
            </span>

          </div>
          <% }); %>
      </div>



      <%- include('partials/footer') %>


        </body>

        </html>