    <%- include('partials/header') %> 

    
    <!------------------------------- hero section ---------------------------------->

    <section class="hero">
    <div class="hero-left">
      <h1 class="Institute">
        Institute of <br />
        <span class="pro">Professional Studies</span>
      </h1>
      <p>
        High Quality Course at Affordable prices. <br />
        We are latest in tech and highest in quality. <br />
        <span class="trust">
          Trusted by 300,000 Student and Professionals.</span
        >
      </p>
    </div>
    <div class="hero-right">
      <div class="slideshowContainer">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <% for(let image of sliderImages) { %>
        <div class="mySlides fade-in-image"><img src="<%= path %>assets/<%= image %>" alt="image" ></div>
        <% } %>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>
        </section>

    
    <!---------------------------- news section ------------------------------------->

    <section>
        <div class="happiness">
          <div class="newsTitle">
            <h1 class="happyHead">News</h1>
          </div>
          <div class="newsTitle">
            <h1 class="happyHead">Events</h1>
          </div>
          <div class="newsTitle">
            <h1 class="happyHead">Announcements</h1>
          </div>
        </div>
      </section>


    
    <!-------------------------- message section ------------------------------------>

    <% for(let message of messageSection) { %>
        <section class="webdesign-wrapper">
            <h2>Message From The <%= message.name %></h2>
            <div class="webdesign">
              <div class="webdesign-left">
                <h4><%= message.inShort %></h4>
                <p><%= message.message %></p>
              </div>
              <div class="webdesign-right">
                <div class="webdesign-img">
                  <img src="<%= path %>assets/<%= message.image %>" alt="image" />
                </div>
              </div>
            </div>
          </section>
          <% } %>
            
    
    <!------------------------------ centres section -------------------------------->

    <section class="centres">
        <div class="ag-format-container">
          <div class="ag-courses_box">
              <% for(let centre of centresList) { %>
                <div class="ag-courses_item">
                  <a href="#" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
      
                    <div class="ag-courses-item_title">
                      Centre of <%= centre.name %> 
                    </div>
                    <div class="ag-courses-item_date-box">
                      <img src="<%= path %>assets/<%= centre.icon %>" height="80px" width="80px" />
                    </div>
                  </a>
                </div>
              <% } %>
          </div>
        </div>
      </section>
        

    
    <!--------------------------- counter section ----------------------------------->
    <div class="count">
        <% for(let counter of counterList) { %>
          <div class="counter-container">
          <img src="<%= path %>assets/<%= counter.image %>" height="200px" width="200px">
              <i class="counter-student"></i>
              <div class="counter" data-target="<%= counter.count %>"></div>
              <span><%= counter.name %></span>
      
            </div>
        <% } %>
      </div>

    <%- include('partials/footer') %>

    </body>
</html>