<%- include('partials/header') %>

<br><br><br><br><br><br>
<h1 class="loadmore">
    <% if(fullList[0].centreCode === "cce") { %>
        Centre of Computer Education
    <% } else if (fullList[0].centreCode === "cft") {%>
        Centre of Food Technology
    <% } else if (fullList[0].centreCode === "cfdt") { %>
        Centre of Fashion & Design Technology
    <% } else if (fullList[0].centreCode === "cms") { %>
        Centre of Media Studies
    <% } %>
</h1>
<br>
<h1><%= pageHeading %></h1>
<br>

<% for(el of fullList) { %>

    <% if(el.title) {%>
        <h3><%= el.title  %></h3>
    <% } %>
    <% if(el.description) { %>
        <p><%= el.description %></p>
    <% } %>
    <% if(el.pdfUrl) { %>
        <a href="/uploads/documents/<%= el.pdfUrl %>" target="_blank">Full View</a>
    <% } %>
<% } %>
    
    <div class="flexiable">
        <% for(el of fullList) { %>
        <div class="facultyCard">
            <% if(el.photo) {%>
            <img src="/uploads/images/<%= el.photo %>" alt="image" style="width:100%">
            <% } %>
            <% if(el.name) { %>
            <h3><%= el.name %></h3>
            <% } %>
            <% if(el.designation) {%>
            <p class="facultyTitle"><%= el.designation %></p>
            <% } %>
            <% if(el.education) {%>
            <p><%= el.education %></p>
            <% } %>
            <% if(!el.researchPaperCount) {%>
            <% } else if(el.researchPaperCount) { %>
            <p><%= el.researchPaperCount %></p>
            <% } %>
            <% if(el.emailId) {%>    
            <p><%= el.emailId %></p>
            <% } %>
        </div>
        <% } %>
    </div>
<br><br>



<%- include('partials/footer') %>


</body>

</html>