<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Edit this notification</h1>
        <div class="col-6 offset-3">
            <form action="/admin/notifications/<%=notification._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="notification[title]" value="<%=notification.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="notification">Description</label>
                    <textarea class="form-control" type="text" id="notification" name="notification[description]" required><%=notification.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="url" id="pdfUrl" name="notification[pdfUrl]" value="<%= notification.pdfUrl %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3 btn-group" role="group" aria-label="Basic radio toggle button group" >
                    
                    <input type="radio" class="form-control btn-check" name="notification[code]" id="cce" value="cce" autocomplete="off" <% if(n === '1') {%><%- `checked` %><% } %>>
                    <label class="form-label btn btn-outline-dark" for="cce">Computer Education</label>

                    <input type="radio" class="form-control btn-check" name="notification[code]" id="cfdt" value="cfdt" autocomplete="off" <% if(n === '2') {%><%- `checked` %><% } %>>
                    <label class="form-label btn btn-outline-dark" for="cfdt">Fashion & Design Technology</label>
                  
                    <input type="radio" class="form-control btn-check" name="notification[code]" id="cft" value="cft"  autocomplete="off" <% if(n === '3') {%><%- `checked` %><% } %>>
                    <label class="form-label btn btn-outline-dark" for="cft">Food Technology</label>
                    
                    <input type="radio" class="form-control btn-check" name="notification[code]" id="cms"  value="cms" autocomplete="off" <% if(n === '4') {%><%- `checked` %><% } %>>
                    <label class="form-label btn btn-outline-dark" for="cms">Media Studies</label>
              </div>
                <div class="mb-3 d-inline">
                    <button class="btn btn-info">Save</button>
                </div>
                <div class="mb-3 d-inline">
                    <a class="btn btn-primary" href="/admin/notifications/<%= notification._id%>">Go Back</a>
                </div>
            </form>
        </div>
    </div>