<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
            <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title"><%= student.name %></h2>
                <p class="card-text d-inline"><b>Enrollment Number : </b><%= student.enrollmentNumber %></p>
                <p class="card-text "><b>Centre : </b><%= student.centreCode %></p>
                <p class="card-text "><b>Semster : </b><%= student.semster %></p>
                <p class="card-text "><b>Phone Number : </b><%= student.phoneNumber %></p>
                <p class="card-text "><b>Address : </b><%= student.address %></p>
                <p class="card-text "><b>Date of Admission : </b><%= student.doa.toString().slice(4,16) %></p>
                <p class="card-text"><b>Date of Birth : </b><%= student.dob.toString().slice(4,16) %></p>
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/admin/students/<%=student._id%>/edit">Edit</a>             
                    <form class="d-inline" action="/admin/students/<%=student._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer" style="color: rgb(125 130 137 / 75%)!important;">
                    <b> Last Updated : </b><%= student.updatedAt %>
                </div>
            </div>
    </div>
