<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Edit this Announcement</h1>
        <div class="col-6 offset-3">
            <form action="/announcements/<%=announcement._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="announcement[title]" value="<%=announcement.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="announcement">Description</label>
                    <textarea class="form-control" type="text" id="announcement" name="announcement[description]" required><%=announcement.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pdfUrl">pdf Url</label>
                    <input class="form-control" type="url" id="pdfUrl" name="announcement[pdfUrl]" value="<%= announcement.pdfUrl %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Save</button>
                </div>
            </form>
            <a href="/announcements/<%= announcement._id%>">Go Back</a>
        </div>
    </div>