<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Edit this Page</h1>
        <div class="col-6 offset-3">
            <form action="/admin/pages/<%=page._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="page[name]" value="<%=page.name %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="page[title]" value="<%=page.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="centreCode">Code</label>
                    <input class="form-control" type="text" id="centreCode" name="page[centreCode]" value="<%=page.centreCode %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="favicon">Favicon Image Name (in assets dir only)</label>
                    <input class="form-control" type="text" id="favicon" name="page[favicon]" value="<%=page.favicon %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="shortDescription">Short Description (allowed tags: h's, p, br)</label>
                    <input class="form-control" type="text" id="shortDescription" name="page[shortDescription]" value="<%=page.shortDescription %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="about">About (allowed tags: h's, p, br)</label>
                    <input class="form-control" type="text" id="about" name="page[about]" value="<%=page.about %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3 d-inline">
                    <button class="btn btn-info">Save</button>
                </div>
                <div class="mb-3 d-inline">
                    <a class="btn btn-primary" href="/admin/pages/<%= page._id%>">Go Back</a>
                </div>
            </form>
        </div>
    </div>