<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
            <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title"><%= page.title %></h2>
                <h3 class="card-title"><%= page.name %></h3>
                <p class="card-title"><b>Description : </b><%= page.meta %></p>
                <p class="card-text"><b>Code : </b><%= page.centreCode %></p>
                <p class="card-text"><b>Favicon : </b> <img src="/assets/<%=  page.favicon %>" alt="Favicon_Img" ></p>
                <p class="card-text"><b>Description : </b><%- page.shortDescription %></p>
                <p class="card-text"><b>About : </b><%- page.about %></p>
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/admin/pages/<%=page._id%>/edit">Edit</a>             
                    <form class="d-inline" action="/admin/pages/<%=page._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer" style="color: rgba(12, 12, 12, 0.75)!important;">
                    <b> Last Updated : </b><%= page.updatedAt %>
                </div>
            </div>
    </div>
