
<%- include('partials/header') %> <!--including the common head-->

<div class="pageSection">
  <!-- sideHeader section starts  -->

  <div class="sideHeader">
    <div class="user">
      <img src="<%= page.path %><%= page.icon %>" alt="icon" />
      <h3 class="name"><%= page.name %></h3>
      <p class="post"><%= page.shortDescription %></p>
    </div>

    <nav class="centreNavbar">
      <ul>
        <li><a href="#home">Notification</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Faculty</a></li>
        <li><a href="#projects">Gallery</a></li>
      </ul>
    </nav>
    <i class="fa-solid fa-xmark menu-close"></i>
  </div>

  <!-- sideHeader section ends -->

  <i class="fa-solid fa-bars menu-open"></i>

  <!-- content section starts  -->

  <div class="centreContainer">
    <section class="home" id="home">
      <h1 class="heading">Notification</h1>
      <% for(notification of page.notifications) {%>
        <h3 class="name"><%= notification.title  %></h3>
        <p class="lines"><%= notification.description %></p>
      <% } %>
    </section>

    <!-- about section  -->

    <section class="about" id="about">
      <h1 class="heading">About</h1>

          <h3 class="name">Lorem ipsum dolor sit amet.</h3>
            <p class="lines"><%= page.about %></p>
    </section>

    <!-- service section  -->
    <section class="skills" id="skills">
      <h1 class="heading">Faculty</h1>

          <h3 class="name">Lorem ipsum dolor sit amet.</h3>
            <p class="lines"><%= page.faculty %></p>
    </section>

    <!-- Project section  -->
    <section class="projects" id="projects">
       <h1 class="heading">Gallery</h1>

          <h3 class="name">Lorem ipsum dolor sit amet.</h3>
            <p class="lines"><%= page.gallery %></p>
    </section>

  </div>

  <!-- content section ends  -->

</div>
  
    <%- include('partials/footer') %> 
  </body>
</html>