<% layout('layouts/boilerplate') %>


    <div class="col-8"> 
        <h1 class="text-center">Edit this Navbar Item</h1>
        <div class="col-6 offset-3">
            <form action="/admin/navbarItems/<%=navbarItem._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
                <div class="mb-3">
                    <label class="form-label" for="item">Serial Number</label>
                    <input class="form-control" type="number" min="1" id="item" name="navbarItem[serialNo]" value="<%=navbarItem.serialNo %>" required>
                    <div class="valid-feedback">
                       Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="item">Item</label>
                    <input class="form-control" type="text" id="item" name="navbarItem[item]" value="<%=navbarItem.item %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="link">Link</label>
                    <input class="form-control" type="text" id="link" name="navbarItem[link]" value="<%=navbarItem.link %>" required>
                    <div class="valid-feedback">
                        Looks good!
                     </div>
                </div>
                <div class="mb-3">
                    <% if(navbarItem.subItems.length) {%>
                        <% for(let i=0;i<navbarItem.subItems.length;i++) { %>
                            <label class="form-label" for="subItems">Sub Item <%= i+1 %></label>
                            <input class="form-control" type="text" id="subItems" name="navbarItem[subItems][<%= i %>]" value="<%- navbarItem.subItems[i] %>" novalidate>
                            <label class="form-label" for="subLinks">Sub Link <%= i+1 %></label>
                            <input class="form-control" type="text" id="subLinks" name="navbarItem[subLinks][<%= i %>]" value="<%- navbarItem.subLinks[i] %>" novalidate>
                        <% } %>
                    <%  } %>
                </div>

                <div class="mb-3 subItems"></div>
                
                <div class="mb-3 d-flex">
                    <div class="genBtn flex-fill btn btn-outline-primary" onclick="initializeN(`<%= navbarItem.subItems.length %>`)">Add Sub-Item</div>
                    <div class="remBtn flex-fill btn btn-outline-primary">Don't?</div>
                </div>
                <div class="mb-3 ">
                    <button class="btn btn-info">Save</button>
                </div>
                <div class="mb-3 d-inline">
                    <a class="btn btn-primary" href="/admin/navbarItems/<%= navbarItem._id%>">Go Back</a>
                </div>
            </form>
        </div>
    </div>