<%- include('../partials/header') %>
    <div class="uoaclass">
        <div class="bodysection">
            <div class="AboutBorder">
                <h1 class="Abouttext">Syllabus</h1>
            </div>
            <table style="width: 100%; margin-top: 40px;">


                <tr class="titlecentre">
                    <td>Centre</td>
                    <td>Course</td>
                    <td>Syllabus</td>
                </tr>
                
                <tr>
                    <td class="centernamebold" rowspan="4">Centre of Food Technology</td>
                </tr> 
                <% for(let course of courses) { %>
                    <% if(course.centreCode === 'cft') { %>
                <tr>           
                    <td><%= course.name %></td>
                    <td>
                        <div class="viewDetail"><a href="/uploads/documents/<%= course.pdfUrl %>" download="<%= course.courseCode %>" >Download</a></div>
                    </td>
                </tr>
                <% } %>
                <% } %>

                <tr>
                    <td class="centernamebold" rowspan="5">Centre of Computer Education</td>
                </tr> 
                <% for(let course of courses) { %>
                    <% if(course.centreCode === 'cce') { %>
                <tr>           
                    <td><%= course.name %></td>
                    <td>
                        <div class="viewDetail"><a href="/uploads/documents/<%= course.pdfUrl %>" download="<%= course.courseCode %>" >Download</a></div>
                    </td>
                </tr>
                <% } %>
                <% } %>

                <tr>
                    <td class="centernamebold" rowspan="4">Centre of Media Studies</td>
                </tr>
                <% for(let course of courses) { %>
                    <% if(course.centreCode === 'cms') { %>
                <tr>           
                    <td><%= course.name %></td>
                    <td>
                        <div class="viewDetail"><a href="/uploads/documents/<%= course.pdfUrl %>" download="<%= course.courseCode %>" >Download</a></div>
                    </td>
                </tr>
                <% } %>
                <% } %>

                <tr>
                    <td class="centernamebold" rowspan="6">Centre of Fashion Design & Technology</td>
                </tr>
                <% for(let course of courses) { %>
                    <% if(course.centreCode === 'cfdt') { %>
                <tr>           
                    <td><%= course.name %></td>
                    <td>
                        <div class="viewDetail"><a href="/uploads/documents/<%= course.pdfUrl %>" download="<%= course.courseCode %>" >Download</a></div>
                    </td>
                </tr>
                <% } %>
                <% } %>

            </table>
        </div>
    </div>
    </div>
    <%- include('../partials/footer') %>
        </body>

        </html>