<% layout('layouts/boilerplate') %>

    <div class="col-8"> 
            <div class="card mb-3">
                <div class="card-body">
                <h2 class="card-title"><%= staff.name %></h2>
                <br/>
                <p class="card-text"><b>DESIGNATION: </b><%= staff.designation %></p>
                <p class="card-text"><b>Belong To : </b><i>Centre of <%= name %></i></p>
                <p class="card-text"><b>EMAIL ID : </b><%= staff.emailId %></p>
                <p class="card-text"><b>EDUCATION : </b><%= staff.education %></p> 
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/admin/staffs/<%=staff._id%>/edit">Edit</a>             
                    <form class="d-inline" action="/admin/staffs/<%=staff._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer" style="color: rgb(125 130 137 / 75%)!important;">
                   <b> Last Updated : </b><%= staff.updatedAt %>
                </div>
            </div>
    </div>
